# Video Data EM Notebook

In [203]:
import sys
import py_entitymatching as em
import pandas as pd
import os
import time

###################################################################
#KEY!!!! VARIABLE PREVENTS OVERWRITING LABELED SAMPLED DATA
###################################################################
GENERATE_NEW_LABELED_DATA = False

In [139]:
# Display the versions
print('python version: ' + sys.version )
print('pandas version: ' + pd.__version__ )
print('magellan version: ' + em.__version__ )

python version: 2.7.14 |Anaconda, Inc.| (default, Dec  7 2017, 11:07:58)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
pandas version: 0.22.0
magellan version: 0.3.0

Matching two tables typically consists of the following three steps:

** 1. Reading the input tables **

** 2. Blocking the input tables to get a candidate set **

** 3. Matching the tuple pairs in the candidate set **

# Read input tables

In [146]:
# Get the paths
path_A = os.getcwd() + '/DATA/imdb3.csv'
path_B = os.getcwd() + '/DATA/thenumbers3.csv'
print(path_A)

/Users/dcompgriff/PrivateDocs/College Docs/Graduate School/University of Wisconson/School Docs/Spring 2017/839 Data Analysis/Project Stage 3/DATA/imdb3.csv

In [147]:
# Load csv files as dataframes and set the key attribute in the dataframe
A = em.read_csv_metadata(path_A, key='id')
B = em.read_csv_metadata(path_B, key='id')
A.head()

,id,title,year,mpaa,runtime,genres,director,stars,gross
0,0,Toy Story 2,1999,G,92 min,"Animation, Adventure, Comedy",John Lasseter,"Ash Brannon,Lee Unkrich,Tom Hanks,Tim Allen,Joan Cusack,Kelsey Grammer",$245.85M
1,1,The Outlaw Josey Wales,1976,PG,135 min,Western,Clint Eastwood,"Clint Eastwood,Sondra Locke,Chief Dan George,Bill McKinney",$31.80M
2,2,"Monsters, Inc.",2001,G,92 min,"Animation, Adventure, Comedy",Pete Docter,"David Silverman,Lee Unkrich,Billy Crystal,John Goodman,Mary Gibbs,Steve Buscemi",$289.92M
3,3,In the Heat of the Night,1967,Not Rated,110 min,"Crime, Drama, Mystery",Norman Jewison,"Sidney Poitier,Rod Steiger,Warren Oates,Lee Grant",$24.38M
4,4,Chungking Express,1994,PG-13,102 min,"Crime, Drama, Romance",Kar-Wai Wong,"Brigitte Lin,Takeshi Kaneshiro,Tony Chiu-Wai Leung,Faye Wong",$0.60M

In [148]:
B.head()

,id,title,year,mpaa,runtime,genres,director,stars,gross
0,0,Effects,2005,-1,-1,-1,Dusty Nelson,-1,-1
1,1,Ek Haseena Thi Ek Deewana Tha,2017,-1,105 minutes,Drama,Suneel Darshan,-1,"$149,491"
2,2,Ekk Albela,2016,-1,-1,Drama,Shekhar Sartandel,-1,"$1,907"
3,3,The Daisy Chain,2009,R,-1,-1,-1,-1,-1
4,4,Dali & I: The Surreal Story,2011,-1,-1,Drama,Andrew Niccol,Al Pacino,-1

### Check for null entries

In [149]:
B.isnull().sum()

id          0
title       0
year        0
mpaa        0
runtime     0
genres      0
director    0
stars       0
gross       0
dtype: int64

In [150]:
A.isnull().sum()

id          0
title       0
year        0
mpaa        0
runtime     0
genres      0
director    0
stars       0
gross       0
dtype: int64

### Check the data size

In [151]:
print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A X B (i.e the cartesian product): ' + str(len(A)*len(B)))

Number of tuples in A: 4291
Number of tuples in B: 31006
Number of tuples in A X B (i.e the cartesian product): 133046746

In [152]:
# Display the keys of the input tables
em.get_key(A), em.get_key(B)

('id', 'id')

In [153]:
# If the tables are large we can downsample the tables like this
A1, B1 = em.down_sample(A, B, 200, 1, show_progress=False)
len(A1), len(B1)

# But for the purposes of this notebook, we will use the entire table A and B

(140, 200)

# Block tables to get candidate set

Before we do the matching, we would like to remove the obviously non-matching tuple pairs from the input tables. This would reduce the number of tuple pairs considered for matching.
*py_entitymatching* provides four different blockers: (1) attribute equivalence, (2) overlap, (3) rule-based, and (4) black-box. The user can mix and match these blockers to form a blocking sequence applied to input tables.

For the matching problem at hand, we know that two restaurants with different city names will not match. So we decide the apply blocking over names:

In [154]:
# Blocking plan

# A, B -- overlap blocker [title] --------------------|---> candidate set

In [155]:
# Create attribute equivalence blocker
ab = em.OverlapBlocker()

# Block using city attribute
C1 = ab.block_tables(A, B, 'title', 'title', 
                    l_output_attrs=['title', 'year', 'mpaa', 'runtime', 'genres', 'director', 'stars', 'gross'], 
                    r_output_attrs=['title', 'year', 'mpaa', 'runtime', 'genres', 'director', 'stars', 'gross'],
                    overlap_size=1
                    )

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:01:41

In [156]:
len(C1)

10956134

## Debug blocker output

The number of tuple pairs considered for matching is reduced to 10,956,134 (from 133,046,746), but we would want to make sure that the blocker did not drop any potential matches. We could debug the blocker output in *py_entitymatching* as follows:

In [157]:
# Debug blocker output
startTime = time.time()
dbg = em.debug_blocker(C1, A, B, output_size=200, attr_corres=[('title','title'), ('year', 'year')])
endTime = time.time()
print("Total time: %.2f seconds."%(endTime-startTime))

Total time: 44.68 seconds.

In [158]:
# Display first few tuple pairs from the debug_blocker's output
dbg.head(50)

,_id,ltable_id,rtable_id,ltable_title,ltable_year,rtable_title,rtable_year
0,0,2965,17445,Advise & Consent,1962,Ginger & Rosa,2013
1,1,2965,17842,Advise & Consent,1962,Harry & Son,1984
2,2,2965,17844,Advise & Consent,1962,Harry & Snowman,2016
3,3,2965,19318,Advise & Consent,1962,Lambert & Stamp,2015
4,4,2965,19600,Advise & Consent,1962,David & Layla,2007
5,5,2965,19796,Advise & Consent,1962,Hansel & Gretel,2002
6,6,2965,20161,Advise & Consent,1962,Q & A,1990
7,7,2965,23293,Advise & Consent,1962,Starsky & Hutch,2004
8,8,2965,23439,Advise & Consent,1962,Spring & Arnaud,2016
9,9,2965,25285,Advise & Consent,1962,Town & Country,2001
10,10,2965,26599,Advise & Consent,1962,Withnail & I,1987
11,11,2965,26620,Advise & Consent,1962,Rodeo & Juliet,2016
12,12,2965,26824,Advise & Consent,1962,Rock & Rule,1983
13,13,2965,28999,Advise & Consent,1962,Water & Power,2014
14,14,2965,29445,Advise & Consent,1962,Wallace & Gromit,1996
15,15,2965,29519,Advise & Consent,1962,Up & Down,2005
16,16,2965,30408,Advise & Consent,1962,Yossi & Jagger,2003
17,17,3038,236,Love & Mercy,2014,Burke & Hare,2011
18,18,2661,29762,Chef,2014,Ragnarok,2014
19,19,2661,30538,Chef,2014,Ungli,2014
20,20,2661,30870,Chef,2014,Unbroken,2014
21,21,2965,236,Advise & Consent,1962,Burke & Hare,2011
22,22,2965,782,Advise & Consent,1962,Bride & Prejudice,2005
23,23,2965,4163,Advise & Consent,1962,Love & Taxes,2017
24,24,2965,4262,Advise & Consent,1962,Love & Mercy,2015
25,25,2965,4263,Advise & Consent,1962,Love & Friendship,2016
26,26,2965,6232,Advise & Consent,1962,Plunkett & Macleane,1999
27,27,2965,6337,Advise & Consent,1962,Cloak & Dagger,1984
28,28,2965,6586,Advise & Consent,1962,Gun & Goal,2015
29,29,2965,13033,Advise & Consent,1962,Henry & Me,2014
30,30,2965,13036,Advise & Consent,1962,Henry & June,1990
31,31,2965,13040,Advise & Consent,1962,Hemingway & Gellhorn,2013
32,32,2965,14788,Advise & Consent,1962,Heaven & Earth,1993
33,33,2965,15471,Advise & Consent,1962,AimÃ©e & Jaguar,2000
34,34,2965,16789,Advise & Consent,1962,In & Out,1997
35,35,2965,16873,Advise & Consent,1962,Cas & Dylan,2015
36,36,2965,16878,Advise & Consent,1962,Carter & June,2017
37,37,3038,23293,Love & Mercy,2014,Starsky & Hutch,2004
38,38,3038,23439,Love & Mercy,2014,Spring & Arnaud,2016
39,39,3038,25285,Love & Mercy,2014,Town & Country,2001
40,40,3038,26599,Love & Mercy,2014,Withnail & I,1987
41,41,3038,26620,Love & Mercy,2014,Rodeo & Juliet,2016
42,42,3038,26824,Love & Mercy,2014,Rock & Rule,1983
43,43,3038,28999,Love & Mercy,2014,Water & Power,2014
44,44,3038,29445,Love & Mercy,2014,Wallace & Gromit,1996
45,45,3038,29519,Love & Mercy,2014,Up & Down,2005
46,46,3038,30408,Love & Mercy,2014,Yossi & Jagger,2003
47,47,3431,236,Oliver & Company,1988,Burke & Hare,2011
48,48,3431,782,Oliver & Company,1988,Bride & Prejudice,2005
49,49,3431,4163,Oliver & Company,1988,Love & Taxes,2017

From the debug blocker's output we observe that the current blocker drops quite a few potential matches. We would want to update the blocking sequence to avoid dropping these potential matches.

For the considered dataset, we know that for the restaurants to match the  names must overlap between them. We could use overlap blocker for this purpose. Finally, we would want to union the outputs from the attribute equivalence blocker and the overlap blocker to get a consolidated candidate set.

In [159]:
# Updated blocking sequence
# A, B ------ overlap blocker [title] -----> C1--
#                                                     
# C1 ------ overlap blocker [year] --------> C2--

In [160]:
# Create overlap blocker
ob = em.OverlapBlocker()

# Block tables using 'name' attribute 
C2 = ob.block_candset(C1, 'year', 'year' 
                    )
len(C2)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:03:37

134228

In [161]:
# Display first two rows from C2
C2.head(2)

,_id,ltable_id,rtable_id,ltable_title,ltable_year,ltable_mpaa,ltable_runtime,ltable_genres,ltable_director,ltable_stars,ltable_gross,rtable_title,rtable_year,rtable_mpaa,rtable_runtime,rtable_genres,rtable_director,rtable_stars,rtable_gross
34,34,45,3,The Hangover,2009,R,100 min,Comedy,Todd Phillips,"Zach Galifianakis,Bradley Cooper,Justin Bartha,Ed Helms",$277.32M,The Daisy Chain,2009,R,-1,-1,-1,-1,-1
144,144,4286,3,The Loved Ones,2009,R,84 min,"Horror, Thriller",Sean Byrne,"Xavier Samuel,Robin McLeavy,Victoria Thaine,Jessica McNamee",-1,The Daisy Chain,2009,R,-1,-1,-1,-1,-1

In [162]:
# Updated blocking sequence
# A, B ------ overlap blocker [title] -----> C1--
#                                                     
# C1 ------ overlap blocker [year] --------> C2--
#
# C2 ------ overlap blocker [mpaa] --------> C3--

In [163]:
# Create overlap blocker
ob = em.OverlapBlocker()

# Block tables using 'name' attribute 
C3 = ob.block_candset(C2, 'mpaa', 'mpaa' 
                    )
len(C3)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:04

27767

In [164]:
# Display first two rows from C3
C3.head(2)

,_id,ltable_id,rtable_id,ltable_title,ltable_year,ltable_mpaa,ltable_runtime,ltable_genres,ltable_director,ltable_stars,ltable_gross,rtable_title,rtable_year,rtable_mpaa,rtable_runtime,rtable_genres,rtable_director,rtable_stars,rtable_gross
34,34,45,3,The Hangover,2009,R,100 min,Comedy,Todd Phillips,"Zach Galifianakis,Bradley Cooper,Justin Bartha,Ed Helms",$277.32M,The Daisy Chain,2009,R,-1,-1,-1,-1,-1
144,144,4286,3,The Loved Ones,2009,R,84 min,"Horror, Thriller",Sean Byrne,"Xavier Samuel,Robin McLeavy,Victoria Thaine,Jessica McNamee",-1,The Daisy Chain,2009,R,-1,-1,-1,-1,-1

In [324]:
# Create blocker to block tuples that only match based on 'the'.
def overlap_ignoring_words(ltuple, rtuple):
    words = set(['the'])
    # Remove ignore words set from strings.
    lostring = ltuple['title'].lower().split()
    rostring = rtuple['title'].lower().split()
    l_tokens = []
    r_tokens = []
    for word in lostring:
        if word.strip() not in words:
            l_tokens.append(word)
    for word in rostring:
        if word.strip() not in words:
            r_tokens.append(word)
    l_tokens = set(l_tokens)
    r_tokens = set(r_tokens)
        
    # Compute overlap.
    #l_tokens = set(list(map(lambda item: item.strip(), lstring.split())))
    #r_tokens = set(list(map(lambda item: item.strip(), rstring.split())))
    intersection = l_tokens.intersection(r_tokens)
    if len(intersection) >= 1:
        return False
    else:
        return True
    
# Create and apply blocker.
bb = em.BlackBoxBlocker()
bb.set_black_box_function(overlap_ignoring_words)
C4 = bb.block_candset(C3)    
C4.head()

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:03

,_id,ltable_id,rtable_id,ltable_title,ltable_year,ltable_mpaa,ltable_runtime,ltable_genres,ltable_director,ltable_stars,ltable_gross,rtable_title,rtable_year,rtable_mpaa,rtable_runtime,rtable_genres,rtable_director,rtable_stars,rtable_gross
4146,4146,1757,11,Hamlet,1996,PG-13,242 min,Drama,Kenneth Branagh,"Kenneth Branagh,Julie Christie,Derek Jacobi,Kate Winslet",$4.41M,Hamlet,1996,PG-13,-1,Drama,-1,Kenneth Branagh,"$7,129,670"
8948,8948,3547,22,Home for the Holidays,1995,PG-13,103 min,"Comedy, Drama, Romance",Jodie Foster,"Holly Hunter,Anne Bancroft,Robert Downey Jr.,Charles Durning",$17.52M,Home for the Holidays,1995,PG-13,104 minutes,Comedy,Jodie Foster,Holly Hunter,"$22,119,269"
11082,11082,1258,26,Team America: World Police,2004,R,98 min,"Action, Comedy",Trey Parker,"Trey Parker,Matt Stone,Elle Russ,Kristen Miller",$32.77M,A Home at the End of the World,2004,R,-1,Drama,-1,-1,"$1,033,810"
11238,11238,1686,26,A Very Long Engagement,2004,R,133 min,"Drama, Mystery, Romance",Jean-Pierre Jeunet,"Audrey Tautou,Gaspard Ulliel,Jodie Foster,Dominique Pinon",$6.17M,A Home at the End of the World,2004,R,-1,Drama,-1,-1,"$1,033,810"
17707,17707,502,36,Hot Fuzz,2007,R,121 min,"Action, Comedy",Edgar Wright,"Simon Pegg,Nick Frost,Martin Freeman,Bill Nighy",$23.64M,Hot Fuzz,2007,R,121 minutes,Comedy,Edgar Wright,"Simon Pegg,Nick Frost","$81,742,618"

In [325]:
len(C4)

4024

We observe that the current blocker sequence does not drop obvious potential matches, and we can proceed with the matching step now. A subtle point to note here is, debugging blocker output practically provides a stopping criteria for modifying the blocker sequence.

# Matching tuple pairs in the candidate set

In this step, we would want to match the tuple pairs in the candidate set. Specifically, we use learning-based method for matching purposes.
This typically involves the following five steps:
1. Sampling and labeling the candidate set
2. Splitting the labeled data into development and evaluation set
3. Selecting the best learning based matcher using the development set
4. Evaluating the selected matcher using the evaluation set

## Sampling and labeling the candidate set

First, we randomly sample 600 tuple pairs for labeling purposes.

In [323]:
# Sample  candidate set
S = em.sample_table(C4, 600)
S.head(50)

,_id,ltable_id,rtable_id,ltable_title,ltable_year,ltable_mpaa,ltable_runtime,ltable_genres,ltable_director,ltable_stars,ltable_gross,rtable_title,rtable_year,rtable_mpaa,rtable_runtime,rtable_genres,rtable_director,rtable_stars,rtable_gross
6671,6671,1093,20,The Assassination of Jesse James by the Coward Robert Ford,2007,R,160 min,"Biography, Crime, Drama",Andrew Dominik,"Brad Pitt,Casey Affleck,Sam Shepard,Mary-Louise Parker",$3.90M,Home of the Brave,2007,R,106 minutes,Drama,Irwin Winkler,"Samuel L. Jackson,Jessica Biel,Brian Presley,Curtis ""50 Cent"" Jackson",-1
7619,7619,3795,20,30 Days of Night,2007,R,113 min,"Horror, Thriller",David Slade,"Josh Hartnett,Melissa George,Danny Huston,Ben Foster",$39.57M,Home of the Brave,2007,R,106 minutes,Drama,Irwin Winkler,"Samuel L. Jackson,Jessica Biel,Brian Presley,Curtis ""50 Cent"" Jackson",-1
11082,11082,1258,26,Team America: World Police,2004,R,98 min,"Action, Comedy",Trey Parker,"Trey Parker,Matt Stone,Elle Russ,Kristen Miller",$32.77M,A Home at the End of the World,2004,R,-1,Drama,-1,-1,"$1,033,810"
73296,73296,526,144,Requiem for a Dream,2000,R,102 min,Drama,Darren Aronofsky,"Ellen Burstyn,Jared Leto,Jennifer Connelly,Marlon Wayans",$3.64M,But I'm a Cheerleader,2000,R,-1,Comedy,-1,-1,"$2,509,344"
79154,79154,2520,162,Bad Lieutenant: Port of Call New Orleans,2009,R,122 min,"Crime, Drama",Werner Herzog,"Nicolas Cage,Eva Mendes,Russell M. Haeuser,Val Kilmer",$1.70M,The Mysteries of Pittsburgh,2009,R,-1,Drama,Rawson Marshall Thurber,-1,-1
96584,96584,3101,220,Get Him to the Greek,2010,R,109 min,"Adventure, Comedy, Music",Nicholas Stoller,"Jonah Hill,Russell Brand,Elisabeth Moss,Rose Byrne",$60.97M,My Soul to Take,2010,R,107 minutes,Horror,Wes Craven,"Max Thieriot,Denzel Whitaker,Raul Esparza,Shareeka Epps,John Magaro,Zena Grey,Nick Lashaway,Paul...","$16,727,470"
100121,100121,1754,245,My Own Private Idaho,1991,R,104 min,Drama,Gus Van Sant,"River Phoenix,Keanu Reeves,James Russo,William Richert",$6.40M,My Own Private Idaho,1991,R,-1,Black Comedy,Gus Van Sant,Keanu Reeves,-1
115335,115335,1392,331,Born on the Fourth of July,1989,R,145 min,"Biography, Drama, War",Oliver Stone,"Tom Cruise,Raymond J. Barry,Caroline Kava,Josh Evans",$70.00M,My Left Foot: The Story of Christy Brown,1989,R,-1,Drama,Jim Sheridan,Daniel Day-Lewis,-1
116970,116970,1186,348,A Bug's Life,1998,G,95 min,"Animation, Adventure, Comedy",John Lasseter,"Andrew Stanton,Kevin Spacey,Dave Foley,Julia Louis-Dreyfus,Hayden Panettiere",$162.80M,A Bug's Life,1998,G,96 minutes,Adventure,John Lasseter,Dave Foley,"$363,095,319"
118131,118131,3556,349,Buffy the Vampire Slayer,1992,PG-13,86 min,"Action, Comedy, Fantasy",Fran Rubel Kuzui,"Kristy Swanson,Donald Sutherland,Paul Reubens,Rutger Hauer",$16.62M,Buffy the Vampire Slayer,1992,PG-13,86 minutes,Horror,-1,-1,-1
170126,170126,645,549,The Brood,1979,R,92 min,"Horror, Sci-Fi",David Cronenberg,"Oliver Reed,Samantha Eggar,Art Hindle,Henry Beckman",-1,The Brood,1979,R,92 minutes,Horror,David Cronenberg,-1,-1
207159,207159,822,632,Brokeback Mountain,2005,R,134 min,Drama,Ang Lee,"Jake Gyllenhaal,Heath Ledger,Michelle Williams,Randy Quaid",$83.04M,Brokeback Mountain,2005,R,134 minutes,Drama,Ang Lee,-1,"$177,012,173"
237541,237541,4035,692,Bring It On,2000,PG-13,98 min,"Comedy, Romance, Sport",Peyton Reed,"Kirsten Dunst,Eliza Dushku,Jesse Bradford,Gabrielle Union",$68.38M,Bring it On,2000,PG-13,99 minutes,Comedy,Peyton Reed,Kirsten Dunst,"$90,453,550"
269113,269113,580,778,Enemy of the State,1998,R,132 min,"Action, Crime, Mystery",Tony Scott,"Will Smith,Gene Hackman,Jon Voight,Lisa Bonet",$111.55M,Bride of Chucky,1998,R,-1,Horror,Ronny Yu,Katherine Heigl,"$50,692,188"
269376,269376,3849,778,Slums of Beverly Hills,1998,R,91 min,"Comedy, Drama",Tamara Jenkins,"Natasha Lyonne,Alan Arkin,Bryna Weiss,Marisa Tomei",$5.48M,Bride of Chucky,1998,R,-1,Horror,Ronny Yu,Katherine Heigl,"$50,692,188"
275155,275155,3634,791,The One I Love,2014,R,91 min,"Drama, Fantasy, Romance",Charlie McDowell,"Mark Duplass,Elisabeth Moss,Ted Danson,Kiana Cason",$0.51M,Muffin Top: A Love Story,2014,R,-1,Romantic Comedy,Cathryn Michon,-1,-1
305879,305879,3894,899,The Messenger: The Story of Joan of Arc,1999,R,148 min,"Adventure, Biography, Drama",Luc Besson,"Milla Jovovich,John Malkovich,Rab Affleck,Stéphane Algoud",$14.28M,Breakfast of Champions,1999,R,-1,Comedy,Alan Rudolph,-1,-1
314626,314626,1927,929,Jay and Silent Bob Strike Back,2001,R,104 min,Comedy,Kevin Smith,"Jason Mewes,Kevin Smith,Ben Affleck,Jeff Anderson",$30.06M,Bread and Roses,2001,R,-1,Drama,Ken Loach,-1,"$1,282,593"
414682,414682,3929,1168,Metallica: Some Kind of Monster,2004,Not Rated,141 min,"Documentary, Music",Joe Berlinger,"Bruce Sinofsky,James Hetfield,Kirk Hammett,Lars Ulrich,Robert Trujillo",$1.22M,Cuba: Island of Music,2004,Not Rated,-1,Documentary,-1,-1,-1
434476,434476,285,1212,Boyhood,2014,R,165 min,Drama,Richard Linklater,"Ellar Coltrane,Patricia Arquette,Ethan Hawke,Elijah Smith",$25.38M,Boyhood,2014,R,164 minutes,Drama,Richard Linklater,Ellar Coltrane,"$57,273,049"
441581,441581,4210,1236,Beasts of No Nation,2015,Not Rated,137 min,"Drama, War",Cary Joji Fukunaga,"Abraham Attah,Emmanuel Affadzi,Ricky Adelayitor,Andrew Adote",$0.08M,Crystal Lake Memories: The Complete History of Friday the 13th,2015,Not Rated,400 minutes,Documentary,Daniel Farrands,-1,-1
455451,455451,3139,1253,The Boy in the Striped Pajamas,2008,PG-13,94 min,"Drama, War",Mark Herman,"Asa Butterfield,David Thewlis,Rupert Friend,Zac Mattoon O'Brien",$9.03M,The Boy in the Striped Pyjamas,2008,PG-13,91 minutes,Drama,-1,"Vera Farmiga,David Thewlis,Rupert Friend,David Hayman,Asa Butterfield,Jack Scanlon","$44,083,403"
458151,458151,1311,1255,The Most Dangerous Game,1932,Not Rated,63 min,"Adventure, Horror, Mystery",Irving Pichel,"Ernest B. Schoedsack,Joel McCrea,Fay Wray,Leslie Banks,Robert Armstrong",-1,The Most Dangerous Game,1932,Not Rated,62 minutes,-1,-1,-1,-1
466402,466402,2520,1270,Bad Lieutenant: Port of Call New Orleans,2009,R,122 min,"Crime, Drama",Werner Herzog,"Nicolas Cage,Eva Mendes,Russell M. Haeuser,Val Kilmer",$1.70M,The Cry of the Owl,2009,R,-1,Thriller/Suspense,-1,-1,-1
476444,476444,3311,1295,The Boxer,1997,R,113 min,"Drama, Romance, Sport",Jim Sheridan,"Daniel Day-Lewis,Emily Watson,Daragh Donnelly,Frank Coughlan",$5.80M,The Boxer,1997,R,-1,Drama,Jim Sheridan,Daniel Day-Lewis,-1
489611,489611,3342,1329,Bowfinger,1999,PG-13,97 min,Comedy,Frank Oz,"Steve Martin,Eddie Murphy,Heather Graham,Christine Baranski",$66.38M,Bowfinger,1999,PG-13,97 minutes,Comedy,Frank Oz,"Steve Martin,Eddie Murphy","$98,699,769"
497181,497181,4125,1342,The Bourne Legacy,2012,PG-13,135 min,"Action, Adventure, Mystery",Tony Gilroy,"Jeremy Renner,Rachel Weisz,Edward Norton,Scott Glenn",$113.20M,The Bourne Legacy,2012,PG-13,135 minutes,Thriller/Suspense,Tony Gilroy,Jeremy Renner,"$280,355,920"
500417,500417,2054,1358,Cruel Intentions,1999,R,97 min,"Drama, Romance",Roger Kumble,"Sarah Michelle Gellar,Ryan Phillippe,Reese Witherspoon,Selma Blair",$38.33M,Cruel Intentions,1999,R,-1,Drama,Roger Kumble,Reese Witherspoon,"$75,803,716"
524956,524956,235,1435,Moonrise Kingdom,2012,PG-13,94 min,"Adventure, Comedy, Drama",Wes Anderson,"Jared Gilman,Kara Hayward,Bruce Willis,Bill Murray",$45.51M,Moonrise Kingdom,2012,PG-13,94 minutes,Drama,Wes Anderson,"Bruce Willis,Edward Norton,Bill Murray,Frances McDormand,Tilda Swinton,Jason Schwartzman,Kara Ha...","$68,582,095"
545504,545504,2304,1512,Sea of Love,1989,R,113 min,"Crime, Drama, Mystery",Harold Becker,"Al Pacino,Ellen Barkin,John Goodman,Michael Rooker",$58.57M,Born on the Fourth of July,1989,R,144 minutes,Drama,Oliver Stone,Tom Cruise,-1
572357,572357,1401,1576,In the Loop,2009,Not Rated,106 min,Comedy,Armando Iannucci,"Tom Hollander,Peter Capaldi,James Gandolfini,Harry Hadden-Paton",$2.38M,Crips and Bloods: Made in America,2009,Not Rated,-1,-1,-1,-1,-1
585153,585153,2520,1622,Bad Lieutenant: Port of Call New Orleans,2009,R,122 min,"Crime, Drama",Werner Herzog,"Nicolas Cage,Eva Mendes,Russell M. Haeuser,Val Kilmer",$1.70M,Crimes of the Past,2009,R,-1,-1,-1,-1,-1
596988,596988,4193,1671,Women in Love,1969,R,131 min,"Drama, Romance",Ken Russell,"Alan Bates,Oliver Reed,Glenda Jackson,Jennie Linden",-1,"Pussycat, Pussycat, I Love You",1969,R,-1,-1,-1,-1,-1
601329,601329,1583,1692,The Aviator,2004,PG-13,170 min,"Biography, Drama, History",Martin Scorsese,"Leonardo DiCaprio,Cate Blanchett,Kate Beckinsale,John C. Reilly",$102.61M,The Aviator,2004,PG-13,170 minutes,Drama,Martin Scorsese,"Leonardo DiCaprio,Cate Blanchett,Kate Beckinsale","$208,370,892"
625502,625502,2520,1763,Bad Lieutenant: Port of Call New Orleans,2009,R,122 min,"Crime, Drama",Werner Herzog,"Nicolas Cage,Eva Mendes,Russell M. Haeuser,Val Kilmer",$1.70M,Creature of Darkness,2009,R,-1,-1,-1,-1,-1
650454,650454,1263,1834,King of New York,1990,R,103 min,"Crime, Thriller",Abel Ferrara,"Christopher Walken,David Caruso,Laurence Fishburne,Victor Argo",$2.55M,Book of Love,1990,R,-1,Comedy,-1,-1,-1
650559,650559,1738,1834,Night of the Living Dead,1990,R,92 min,Horror,Tom Savini,"Tony Todd,Patricia Tallman,Tom Towles,McKee Anderson",$5.84M,Book of Love,1990,R,-1,Comedy,-1,-1,-1
657113,657113,681,1844,Boogie Nights,1997,R,155 min,Drama,Paul Thomas Anderson,"Mark Wahlberg,Julianne Moore,Burt Reynolds,Luis Guzmán",$26.40M,Boogie Nights,1997,R,155 minutes,Drama,Paul Thomas Anderson,"Mark Wahlberg,Julianne Moore,Burt Reynolds,Don Cheadle,John C. Reilly,William H. Macy,Heather Gr...","$43,111,725"
665474,665474,3702,1891,The Crazies,2010,R,101 min,"Horror, Thriller",Breck Eisner,"Radha Mitchell,Timothy Olyphant,Danielle Panabaker,Joe Anderson",$39.12M,The Crazies,2010,R,101 minutes,Horror,Breck Eisner,Timothy Olyphant,"$56,445,534"
687840,687840,1263,1964,King of New York,1990,R,103 min,"Crime, Thriller",Abel Ferrara,"Christopher Walken,David Caruso,Laurence Fishburne,Victor Argo",$2.55M,The Bonfire of the Vanities,1990,R,125 minutes,Comedy,Brian De Palma,"Tom Hanks,Bruce Willis,Melanie Griffith",-1
702703,702703,1065,2008,In America,2002,PG-13,105 min,Drama,Jim Sheridan,"Paddy Considine,Samantha Morton,Djimon Hounsou,Sarah Bolger",$15.54M,Austin Powers in Goldmember,2002,PG-13,94 minutes,Comedy,Jay Roach,"Mike Myers,Beyonce Knowles,Michael Caine,Verne Troyer","$296,338,663"
706925,706925,3410,2017,Detroit Rock City,1999,R,95 min,"Comedy, Music",Adam Rifkin,"Edward Furlong,Giuseppe Andrews,James DeBello,Sam Huntington",$4.22M,Cradle Will Rock,1999,R,134 minutes,Drama,Tim Robbins,"Hank Azaria,Ruben Blades,Joan Cusack,John Cusack,Cary Elwes,Philip Baker Hall,Cherry Jones,Angus...",-1
710116,710116,252,2035,Lost in Translation,2003,R,102 min,Drama,Sofia Coppola,"Bill Murray,Scarlett Johansson,Giovanni Ribisi,Anna Faris",$44.59M,Mondays in the Sun,2003,R,-1,-1,-1,"Javier Bardem,Luis Tosar",-1
753729,753729,2086,2183,Public Enemies,2009,R,140 min,"Biography, Crime, Drama",Michael Mann,"Christian Bale,Johnny Depp,Christian Stolte,Jason Clarke",$97.10M,Public Enemies,2009,R,140 minutes,Drama,Michael Mann,"Christian Bale,Marion Cotillard,Johnny Depp","$212,282,709"
796419,796419,2520,2340,Bad Lieutenant: Port of Call New Orleans,2009,R,122 min,"Crime, Drama",Werner Herzog,"Nicolas Cage,Eva Mendes,Russell M. Haeuser,Val Kilmer",$1.70M,Bodyguard: A New Beginning,2009,R,-1,-1,-1,-1,-1
820175,820175,564,2414,"Good Night, and Good Luck.",2005,PG,93 min,"Biography, Drama, History",George Clooney,"David Strathairn,George Clooney,Patricia Clarkson,Jeff Daniels",$31.50M,Mobsters and Mormons,2005,PG,90 minutes,Comedy,-1,-1,-1
876035,876035,1647,2602,Coraline,2009,PG,100 min,"Animation, Family, Fantasy",Henry Selick,"Dakota Fanning,Teri Hatcher,John Hodgman,Jennifer Saunders",$75.29M,Coraline,2009,PG,100 minutes,Adventure,Henry Selick,Dakota Fanning,"$126,037,057"
902040,902040,3069,2689,Blue Thunder,1983,R,109 min,"Action, Crime, Drama",John Badham,"Roy Scheider,Warren Oates,Candy Clark,Daniel Stern",$42.31M,Blue Thunder,1983,R,-1,Action,John Badham,-1,-1
930701,930701,2938,2788,Murder in the First,1995,R,122 min,"Drama, Thriller",Marc Rocco,"Christian Slater,Kevin Bacon,Gary Oldman,Embeth Davidtz",$17.38M,Blue in the Face,1995,R,-1,Drama,Wayne Wang,-1,-1
978976,978976,583,2924,Eternal Sunshine of the Spotless Mind,2004,R,108 min,"Drama, Romance, Sci-Fi",Michel Gondry,"Jim Carrey,Kate Winslet,Tom Wilkinson,Gerry Robert Byrne",$34.40M,The Assassination of Richard Nixon,2004,R,-1,Drama,-1,-1,"$1,140,051"

In [272]:
if GENERATE_NEW_LABELED_DATA:
    # Label S interactively. 
    G = em.label_table(S, 'gold')
    #SAVE! TIS A BITCH TO LABEL S AGAIN, AND IT NEEDS TO BE LABELED WITHIN THE UI!
    em.to_csv_metadata(G, './DATA/G.csv')
else:
    G = em.read_csv_metadata('./DATA/G.csv', 
                         key='_id',
                         ltable=A, rtable=B, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id')

In [273]:
#em.to_csv_metadata(G, './DATA/G.csv')
#G2 = em.read_csv_metadata('./G2.csv', 
#                         key='_id',
#                         ltable=A, rtable=B, 
#                         fk_ltable='ltable_id', fk_rtable='rtable_id')

#em.save_table(G, './G2.pkl', metadata_ext='.pklmeta')
#G2 = em.load_table('./G2.pkl', metadata_ext='.pklmeta')
#catalog = em.get_catalog()
#em.show_properties(G2)

## Splitting the labeled data into development and evaluation set

In this step, we split the labeled data into two sets: development (I) and evaluation (J). Specifically, the development set is used to come up with the best learning-based matcher and the evaluation set used to evaluate the selected matcher on unseen data.

In [282]:
# Split S into development set (I) and evaluation set (J)
IJ = em.split_train_test(G, train_proportion=0.7, random_state=5)
I = IJ['train']
J = IJ['test']
print(len(I[I['gold']==1]))
print(len(J[J['gold']==1]))

33
11

## Selecting the best learning-based matcher

Selecting the best learning-based matcher typically involves the following steps:

1. Creating a set of learning-based matchers
2. Creating features
3. Converting the development set into feature vectors
4. Selecting the best learning-based matcher using k-fold cross validation

### Creating a set of learning-based matchers

In [283]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')
nb = em.NBMatcher(name='NaiveBayes')

### Creating features

Next, we need to create a set of features for the development set. *py_entitymatching* provides a way to automatically generate features based on the attributes in the input tables. For the purposes of this guide, we use the automatically generated features.

In [284]:
# Generate features
feature_table = em.get_features_for_matching(A, B, validate_inferred_attr_types=False)

In [285]:
# List the names of the features generated
feature_table['feature_name']

0                                 id_id_exm
1                                 id_id_anm
2                            id_id_lev_dist
3                             id_id_lev_sim
4               title_title_jac_qgm_3_qgm_3
5           title_title_cos_dlm_dc0_dlm_dc0
6           title_title_jac_dlm_dc0_dlm_dc0
7                           title_title_mel
8                      title_title_lev_dist
9                       title_title_lev_sim
10                          title_title_nmw
11                           title_title_sw
12                mpaa_mpaa_jac_qgm_3_qgm_3
13            mpaa_mpaa_cos_dlm_dc0_dlm_dc0
14            mpaa_mpaa_jac_dlm_dc0_dlm_dc0
15                            mpaa_mpaa_mel
16                       mpaa_mpaa_lev_dist
17                        mpaa_mpaa_lev_sim
18                            mpaa_mpaa_nmw
19                             mpaa_mpaa_sw
20          runtime_runtime_jac_qgm_3_qgm_3
21      runtime_runtime_cos_dlm_dc0_dlm_dc0
22      runtime_runtime_jac_dlm_dc0_dlm_dc0
23                      runtime_runtime_mel
24                 runtime_runtime_lev_dist
25                  runtime_runtime_lev_sim
26                      runtime_runtime_nmw
27                       runtime_runtime_sw
28            genres_genres_jac_qgm_3_qgm_3
29        genres_genres_cos_dlm_dc0_dlm_dc0
30        genres_genres_jac_dlm_dc0_dlm_dc0
31                        genres_genres_mel
32                   genres_genres_lev_dist
33                    genres_genres_lev_sim
34                        genres_genres_nmw
35                         genres_genres_sw
36        director_director_jac_qgm_3_qgm_3
37    director_director_cos_dlm_dc0_dlm_dc0
38    director_director_jac_dlm_dc0_dlm_dc0
39                    director_director_mel
40               director_director_lev_dist
41                director_director_lev_sim
42                    director_director_nmw
43                     director_director_sw
44                     gross_gross_lev_dist
45                      gross_gross_lev_sim
46                          gross_gross_jar
47                          gross_gross_jwn
48                          gross_gross_exm
49              gross_gross_jac_qgm_3_qgm_3
Name: feature_name, dtype: object

### Converting the development set to feature vectors

In [286]:
# Convert the I into a set of feature vectors using F
H = em.extract_feature_vecs(I, 
                            feature_table=feature_table, 
                            attrs_after='gold',
                            show_progress=False)

In [287]:
# Display first few rows
H.head(3)

,_id,ltable_id,rtable_id,id_id_exm,id_id_anm,id_id_lev_dist,id_id_lev_sim,title_title_jac_qgm_3_qgm_3,title_title_cos_dlm_dc0_dlm_dc0,title_title_jac_dlm_dc0_dlm_dc0,...,director_director_lev_sim,director_director_nmw,director_director_sw,gross_gross_lev_dist,gross_gross_lev_sim,gross_gross_jar,gross_gross_jwn,gross_gross_exm,gross_gross_jac_qgm_3_qgm_3,gold
89,1527164,2790,4352,0,0.641085,4,0.0,0.000000,0.000000,0.000000,...,0.250000,-1.0,3.0,5.0,0.166667,0.555556,0.555556,0,0.000000,0
347,6405280,2914,17394,0,0.167529,4,0.2,0.071429,0.218218,0.111111,...,0.153846,1.0,3.0,10.0,0.166667,0.541667,0.633333,0,0.090909,0
472,9006279,649,25385,0,0.025566,5,0.0,1.000000,1.000000,1.000000,...,1.000000,14.0,14.0,10.0,0.166667,0.472222,0.525000,0,0.043478,1

### Selecting the best matcher using cross-validation

Now, we select the best matcher using k-fold cross-validation. For the purposes of this guide, we use five fold cross validation and use 'precision' and 'recall' metric to select the best matcher.

In [288]:
# Select the best ML matcher using CV
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
        k=5,
        target_attr='gold', metric_to_select_matcher='f1', random_state=0)
result['cv_stats']

/anaconda2/lib/python2.7/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.910000        0.946667    0.920498
1            RF           0.977778        0.913333    0.937709
2           SVM           0.800000        0.158333    0.258730
3        LinReg           0.977778        0.873333    0.912941
4        LogReg           0.927273        0.875000    0.880702
5    NaiveBayes           0.790729        0.966667    0.858768

### Debugging matcher

In [289]:
#  Split feature vectors into train and test
UV = em.split_train_test(H, train_proportion=0.5)
U = UV['train']
V = UV['test']

Next, we debug the matcher using GUI. For the purposes of this guide, we use random forest matcher for debugging purposes.

In [290]:
# Debug decision tree using GUI
# em.vis_debug_rf(rf, U, V, 
#        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
#        target_attr='gold')

##  Evaluating the matching output

Evaluating the matching outputs for the evaluation set typically involves the following four steps:
1. Converting the evaluation set to feature vectors
2. Training matcher using the feature vectors extracted from the development set
3. Predicting the evaluation set using the trained matcher
4. Evaluating the predicted matches

### Converting the evaluation set to  feature vectors

As before, we convert to the feature vectors (using the feature table and the evaluation set)

In [291]:
# Convert J into a set of feature vectors using feature table
L = em.extract_feature_vecs(J, feature_table=feature_table,
                            attrs_after='gold', show_progress=False)

### Training the selected matcher

Now, we train the matcher using all of the feature vectors from the development set. For the purposes of this guide we use random forest as the selected matcher.

In [292]:
# Train using feature vectors from I 
rf.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
       target_attr='gold')

### Predicting the matches

Next, we predict the matches for the evaluation set (using the feature vectors extracted from it).

In [293]:
# Predict on L 
predictions = rf.predict(table=L, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

### Evaluating the predictions

Finally, we evaluate the accuracy of predicted outputs

In [294]:
# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 91.67% (11/12)
Recall : 100.0% (11/11)
F1 : 95.65%
False positives : 1 (out of 12 positive predictions)
False negatives : 0 (out of 168 negative predictions)